final/*
manuscript/*
tmp/*
front_matter/critical_report.pdf
main.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.macros
*.midi
*.out
*.ps
*.ref
*.toc
harrer-missa-HarWV-32.code-workspace
.gitignore
adnotacje_dyr.pdf
czyste.pdf
extracted_crops
extract_annotations.py
manifest.json
